<header>
  <nav>
    <ul>
      <li>
        <a
          class="<%= path === '/add-movie' ? 'active' : '' %>"
          href="/add-movie"
          >Add Movie</a
        >
      </li>
      <li>
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
      </li>
    </ul>
  </nav>
</header>
